body{

}

h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
}

#main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#stastitic{
    text-align: left;
    display: block;
}

#button{
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: aqua;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.buttonDisabled{
    background-color: "grey";
    color: "black";
    cursor: "not-allowed";
}

#button:hover{
    background-color: #00bfff;
}

#diceImg{
    margin-top: 50px;
}

.buyArea{
    display: inline-block;
}

.buy{
    margin: 0 20px;
    width: 300px;
    background-color: #00bfff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 5px;
}

.buy:hover{
    background-color: aqua;
}

.description{
    margin-top: 25px;
    font-size: 1.5rem;
    font-weight: normal;
}

#descArea{
    display: inline-block;
}

.hovered{
    font-weight: bold;
}

#pause-btn{
    float: right;
    margin-top: -45px;
    background-color: transparent;
    padding: 0px;
    border: none;
    font-size: 50px;
    font-weight: bold;
}

#pause-btn:hover{
    color: hsla(195, 100%, 50%, 0.6);
}

#modal-stop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 100%, 0.8);
    display: flex;
    text-align: center;
    justify-content: center;
    
}

#modal-stop .container{
    margin-top: 17%;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#optionBtns{
    margin-top: 20px;
}

#resume-btn, #reset-btn{
    margin: 10px;
    width: 150px;
    font-size: 30px;
    background-color: #00bfff;
}

#resume-btn:hover, #reset-btn:hover{
    background-color: aqua;
}
